<!DOCTYPE html>
    <html>
        <head>
            <title></title>
        </head>
        <body>
            <h2>Students:</h2>
            <% @students.each do |s| %>
            <p><%+ s.name %> <a href+"/student/<%= s.id %>">Show</a></p>
            <% end %>
        </body>
    </html>